<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/16march.css">
    <title>16 MARCH</title>
</head>
<body>
    <h1>16 MARCH</h1>
    <div class="index">
        <table>
            <tr>
                <td>
                    <h2><a href="/">HOME</a></h2>
                </td>
            </tr>
        </table>  
    </div>
    <h3>----- GOOD LUCK BRO -----</h3>
    <div class="fill">
        <form action="" method="port">
            <h4>--- ADD REWARD ---</h4>
            <p>First Reward!!!</p>
            <input name="order1march" class="first" type="text" placeholder="input" required>
            <p>Second Reward!!</p>
            <input name="order2march" class="second" type="text" placeholder="input" required>
            <p>Third Reward!</p>
            <input name="order3march" class="third" type="text" placeholder="input" required>
        </form>
        <br>
        <button type="enter" class="button">ADD</button>
    </div>
    <br>

    <div class="fillcheck">
        <form action="" method="portcheck">
            <h4>CHECK YOUR LOTTERY</h4>
            <input name="order1march" class="check" type="text" placeholder="input" required>
        </form>
        <br>
        <button type="entercheck" class="buttoncheck">CHECK</button>
    </div>


</body>
</html>