<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/1april.css">
    <title>16 MARCH</title>
</head>
<body>
    <h1>1 APRIL</h1>
    <div class="index">
        <table>
            <tr>
                <td>
                    <h2><a href="/">HOME</a></h2>
                </td>
            </tr>
        </table>  
    </div>
    <h3>----- GOOD LUCK BRO -----</h3>
    <br>
    <div class="fillcheck">
        <form action="" method="portcheck">
            <h4>CHECK YOUR LOTTERY</h4>
            <input name="check1april" class="check" type="text" placeholder="input" required>
            <button type="entercheck" class="buttoncheck">CHECK</button>
        </form>
        <br>
    </div>

    <br>
    <div class="show">
        <table id="table">
            <tr>
                <th>1ST REWARD</th>
                <th>2ND REWARD</th>
                <th>LAST 2 NUMBER REWARD</th>
            </tr>

            <% be1april.forEach(function(item) { %>
            <tr>
                <td><%= item.order1 %></td>
                <td><%= item.order2 %></td>
                <td><%= item.order3 %></td>
            </tr>
            <% }) %>
        </table>
    </div>

</body>
</html>