<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>BACALOTTERY</title>
</head>


<body>
    <h1>BACALOTTERY</h1>
    <hr>
    <div class="profile">
    <table>
        <tr>
            <td>
                <h3><a href="/profile">PROFILE</a></h3>
            </td>
        </tr>
    </table>  
    </div>
    <hr>
    <h2>----- CHOOSE DATE -----</h2>
    
    <div class="table-menu"> 
    <table> 
        <tr> 
            <td> 
                <h4><a href="16march">16 MARCH 2022</a></h4>
            </td>
            <td> 
                <h5><a href="1april">1 APRIL 2022</a></h5>
            </td>
            <td> 
                <h6><a href="16april">16 APRIL 2022</a></h6>
            </td>
        </tr>
    </table> 
    </div>
    <div class="fill">
        <form action="" method="port">
            <h7>--- ADD REWARD 16 MARCH ---</h7>
            <p>First Reward!!!</p>
            <input name="order1march" class="first" type="text" placeholder="input" required>
            <p>Second Reward!!</p>
            <input name="order2march" class="second" type="text" placeholder="input" required>
            <p>Third Reward!</p>
            <input name="order3march" class="third" type="text" placeholder="input" required>
            <br>
            <button type="enter" class="button">ADD</button>
        </form>
        <br>
    </div>

    <div class="fill">
        <form action="" method="port">
            <h7>--- ADD REWARD 1 APRIL ---</h7>
            <p>First Reward!!!</p>
            <input name="order1april1" class="first" type="text" placeholder="input" required>
            <p>Second Reward!!</p>
            <input name="order2april1" class="second" type="text" placeholder="input" required>
            <p>Third Reward!</p>
            <input name="order3april1" class="third" type="text" placeholder="input" required>
            <br>
            <button type="enter" class="button">ADD</button>
        </form>
        <br>
    </div>

    <div class="fill">
        <form action="" method="port">
            <h7>--- ADD REWARD 1 APRIL ---</h7>
            <p>First Reward!!!</p>
            <input name="order1april2" class="first" type="text" placeholder="input" required>
            <p>Second Reward!!</p>
            <input name="order2april2" class="second" type="text" placeholder="input" required>
            <p>Third Reward!</p>
            <input name="order3april2" class="third" type="text" placeholder="input" required>
            <br>
            <button type="enter" class="button">ADD</button>
        </form>
        <br>
    </div>

</body> 
</html>