<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>BACALOTTERY</title>
</head>


<body>
    <h1>BACALOTTERY</h1>
    <hr>
    <div class="profile">
    <table>
        <tr>
            <td>
                <h3><a href="/profile.ejs">PROFILE</a></h3>
            </td>
        </tr>
    </table>  
    </div>
    <hr>
    <h2>----- CHECK YOUR LOTTERY -----</h2>
    <br>

    <div class="table-menu"> 
    <table> 
        <tr> 
            <td> 
                <h4><a href="16march.ejs">16 MARCH 2022</a></h4>
            </td>
            <td> 
                <h5><a href="1april.ejs">1 APRIL 2022</a></h5>
            </td>
            <td> 
                <h6><a href="16april.ejs">16 APRIL 2022</a></h6>
            </td>
        </tr>
    </table> 
    </div>
    <hr>
</body> 
</html>